<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Card Tucanejobot</title>
  </head>
  <body>
    <div id="container">
      <img
        src=""
        width="800"
        height="1118"
        id="cardModel"
      />
      <div class="cardStaticContent">
        <div class="avg">
          <span class="din-font"> AVG </span>
        </div>
        <div class="puta">
          <span class="din-font"></span>
        </div>
        <div class="calvo">
          <span class="din-font"></span>
        </div>
        <div class="pene">
          <span class="din-font"></span>
        </div>
        <div class="facha">
          <span class="din-font"></span>
        </div>
        <div class="auton">
          <span class="din-font"></span>
        </div>
        <div class="fairy">
          <span class="din-font"></span>
        </div>
      </div>
      <div class="cardContent">
        <div class="average value">
          <span class="din-font"></span>
        </div>
        <div class="flag value">
          <img src="C:\Users\Pablo\Documents\Programacion\tucanejobot\templates\flags\spain-flag-icon.png" />
        </div>
        <div class="name value">
          <span class="din-font"></span>
        </div>
        <div class="puta value">
          <span class="din-font"></span>
        </div>
        <div class="calvo value">
          <span class="din-font"></span>
        </div>
        <div class="pene value">
          <span class="din-font"></span>
        </div>
        <div class="facha value">
          <span class="din-font"></span>
        </div>
        <div class="auton value">
          <span class="din-font"></span>
        </div>
        <div class="fairy value">
          <span class="din-font"></span>
        </div>
      </div>
    </div>
  </body>
</html>
